.order-list-table {
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: fit-content;
    padding: 20px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.order-list-table-data {
    background-color: rgb(218, 218, 218);
    border-radius: 16px;
}

td {
    padding: 10px;
    text-align: center;
}

th {
    color: rgb(26, 43, 66);
    padding: 10px;
    text-align: center;
    
}

.order-list-title {
    color: rgb(26, 43, 66);
    font-size: 40px;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
}

.th-order-id {
    width: 100px;
    text-align: left;
}

.order-id {
    width: 100px;
    text-align: left;
    color: rgb(26, 43, 66);
    font-size: 18px;
}

.th-order-user-id {
    width: 100px;
    text-align: left;
}

.order-user-id {
    width: 100px;
    text-align: left;
    color: rgb(26, 43, 66);
    font-size: 18px;
}

.th-order-total-price {
    width: 130px;
    text-align: left;
}

.order-total-price {
    width: 130px;
    text-align: left;
    color: rgb(26, 43, 66);
    font-size: 18px;
}

.th-order-shipping-address-id{
    width: 200px;
    text-align: left;
}

.order-shipping-address-id{
    width: 200px;
    text-align: left;
    color: rgb(26, 43, 66);
    font-size: 18px;
}

.update-user {
    margin: 5px;
    color: #fff;
    background-color: rgb(26, 43, 66);
    border-radius: 50px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.delete-user {
    margin: 5px;
    color: #fff;
    background-color: #8d2121;
    border-radius: 50px;
    width: 100px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

.update-delete-buttons{
    margin-left: auto;
}