.white-bar {
    width: 100vw;
    height: 30px;
    background-color: white;
}

.main-message {
    display: flex; /*flexbox arrangement*/
    justify-content: space-between; /*distribution of space between elements*/
    margin: 0;
    padding: 140px;
    padding-top: 80px;
    color: rgba(55, 63, 65, 1);
    height: 600px;
    width: 100%;
}

.main-message-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 140px;
    padding-top: 80px;
    color: rgba(55, 63, 65, 1);
    height: 600px;
    width: 100%;
}

.main-message-elements{

}

.main-message-text{
    margin-left: 0px;
    
}

.main-text-1 {
    font-size: 60px;
    width: 30vw;
    font-weight: 400;
    line-height: 1.2; /*space between lines*/
}

.main-text-2 {
    padding-top: 30px;
    font-size: 26px;
    width: 25vw;
    font-weight: 200;
}

.main-picture {
    background-image: url('../../images/Main_picture_01.jpg');
    background-size: contain; /*keeping the image scale*/
    background-repeat: no-repeat;
    background-position: center;
    width: 44%;
    height: 100%;
    margin-right: 0px;
}

.button-get-started {
    font-size: 18px;
    background-color: rgb(26, 43, 66);
    margin-top: 80px;
}

.what-we-offer {
    margin: auto;
    height: 400px;
    background-color: white;
    color: rgba(55, 63, 65, 1);
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
}