
  .product-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: rgb(28, 46, 73);
  }
  
  .product-card img {
    max-width: 100%;
    flex-grow: 1;
    object-fit: cover;
  }
  
  .product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .product-card p {
    margin: 10px 0;
  }
  

  @media (max-width: 800px) {
    .product-list {
      justify-content: center;
      padding: 10px;
    }
  }